<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
    <p class='second-fotter-text'>Baby App利用規約</p>
    <p class='second-fotter-text'>お知らせ</p>
  </div>
</footer>