<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("baby_app_logo.001.png", class:"furima-icon"), "/" %>
    <div class='nav'>
      <ul class='lists-left'>
      </ul>
      <ul class='lists-right'>
        <li><%= link_to @baby.nickname, my_babies_babies_path, class: "login" %>
          <% if current_user.relationship_id == "ママ" %>
          ママ
          <% elsif current_user.relationship_id == "パパ" %>
          パパ
          <% end %>
        </li>
        &emsp; &emsp;
        <li>
          <%= link_to sanitize('<button type="button"></button>') + 'ログアウト', destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしてよろしいですか？'}, class: "btn btn-outline-secondary" %>
        </li>
      </ul>
    </div>
  </div>

</header>