<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></p>
    <p class='second-fotter-text'><%= link_to 'Baby App利用規約', "#", class: "footer-link" %></p>
    <p class='second-fotter-text'><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></p>
  </div>
</footer>