<%= render "shared/second-header" %>
<div class='main'>

  <div class='select-reason-contents'>
    <h4 class="text-center">
      予防接種を管理する赤ちゃんを選んでください
    </h4>
    <br>

    <div class="list-group text-center">
      <% @babies.each do |baby| %>
      <%= link_to baby.nickname, baby_vaccination_lists_path(baby.id), class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>

    <br>
    <div class="text-center">新たに赤ちゃんを登録する場合は<a href="/babies/new" class="alert-link">こちら</a></div>
  </div>
</div>

<%= image_tag "gahag-0082178198-1.jpeg", class:"list-pict"%>
<%= render "shared/footer" %>